@font-face {
  font-family: "Montserat";
  src: url(/src/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserat Italic";
  src: url(/src/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

:root {
  --font-primary-color: rgb(0, 0, 0);
  --font-secondary-color: rgb(255, 255, 255);
  --background-color: black;
  --base-font: "Montserat";
  --italic-font: "Montserat Italic";
  
  --font-wght-light: 300;
  --font-wght-reg: 500;
  --font-wght-bold: 700;
  
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: var(--base-font);
  margin: 0em;
  padding: 0em;
}

body {
  background-color: var(--background-color);
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
}

#forms {
  width: 90vw;
  max-width: 50rem;
  font-family: var(--base-font);
  font-size: 1.3rem;
  font-weight: var(--font-wght-reg);


  #formName{
    color: var(--font-primary-color);
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    width: 90vw;
    max-width: 30em;
    border-radius: 1em;


    button {
      align-self: end;
    }
  }

  #formQuestions {
    font-family: var(--base-font);
    color: var(--font-primary-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: scroll;
    height: 70vh;
    background-color: white;
    padding: 2em;
    border-radius: 1em;
  }
}

#dailyQuote {
  
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--font-secondary-color);
  
  
  
  h1 {
    font-size: 3rem;
    font-weight: var(--font-wght-reg);
    line-height: 4rem;
    margin: .5em 0 0 0  ;
    text-align: center;
  
    width: 80vw;
    max-width: 30em;
    
  }
  
  p {
    font-size: 1.5rem;
    font-weight: var(--font-wght-light);


    &:nth-of-type(2) {
      font-size: 1rem;
      font-family: var(--italic-font);
      font-weight: var(--font-wght-light);
      margin: 0 0 2rem 0;
    }
  }
}

/* Components ---------------------------------------- */

/* Buttons */
button {
  font-weight: var(--font-wght-reg);
  padding: 1rem 2rem;
  appearance: none;
  border: red 1px solid;
  border-radius: 2rem;   
  cursor: pointer; 
  background-color: red;
  color: white;
  width: fit-content;
  
  &:hover {
    background-color: red;
    color: black;
  }

  &:active {
    background-color: darkred;
    color: black;
  }
}

/* Text inputs */
label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  appearance: none;
  border: gray 1px solid;  
  margin: 1rem 0rem;
  padding: 1em;
  border-radius: 1em;
  font-size: .9em;

}

/* Radio inputs */
fieldset:has(input[type="radio"]){
  border: none;
  display: grid;
  flex-direction: column;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));

  legend{
    margin: 0 0 1rem 0;
  }

  label{
    padding: 1.5rem 1rem;
    width: 100%;
    font-size: .9rem;
    border: red 1px solid;
    background-color: white;
    color: black;
    height: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

      &:has(input:checked) {
        background-color: red;
        color: white;
      }
    

    input{
      appearance: none;
      
    }
  }
}