---
const res = await fetch("https://api.api-ninjas.com/v2/quotes", {
  headers: {
    "x-api-key": import.meta.env.API_KEY,
  },
});
const quotes = await res.json();

console.log(quotes);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="styles/style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/style.css" />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div id="forms">
        <form id="formName">
          <!-- https://claude.ai/share/c05c9d04-a1e4-4a1b-9296-a17b1b5868d4 -->
          <label for="name"
            >What is your name?<input
              type="text"
              name="name"
              id="name"
              placeholder="Name here"
              required
              pattern="^(?!.*\d)[a-zA-ZÀ-ÿ](?:[a-zA-ZÀ-ÿ ]{0,48}[a-zA-ZÀ-ÿ])?$"
            /></label
          >
          <button>Opslaan</button>
        </form>
        <form id="formQuestions">
          <!-- https://claude.ai/share/c05c9d04-a1e4-4a1b-9296-a17b1b5868d4 -->
          <label for="vraag-1"
            >How do you feel right now in a few words?<input
              type="text"
              name="vraag-1"
              id="vraag-1"
              placeholder="Awnser here"
              required
            /></label
          >
          <fieldset>
            <legend>How would you describe your current energy level?</legend>
            <label for="Very low"
              >Very low<input
                type="radio"
                name="vraag-2"
                id="Very low"
                required
              /></label
            >
            <label for="Neutral1"
              >Neutral<input
                type="radio"
                name="vraag-2"
                id="Neutral1"
                required
              /></label
            >
            <label for="High"
              >High<input
                type="radio"
                name="vraag-2"
                id="High"
                required
              /></label
            >
          </fieldset>

          <fieldset>
            <legend
              >Which of these emotions best matches your current mood?</legend
            >
            <label for="Happy"
              >Happy<input
                type="radio"
                name="vraag-3"
                id="Happy"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="Stressed"
              >Stressed<input
                type="radio"
                name="vraag-3"
                id="Stressed"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="overwhelmed"
              >Overwhelmed<input
                type="radio"
                name="vraag-3"
                id="overwhelmed"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="hopeful"
              >Hopeful<input
                type="radio"
                name="vraag-3"
                id="hopeful"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="Motivated"
              >Motivated<input
                type="radio"
                name="vraag-3"
                id="Motivated"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="Indifferent"
              >Indifferent<input
                type="radio"
                name="vraag-3"
                id="Indifferent"
                placeholder="Awnser here"
                required
              /></label
            >
          </fieldset>

          <label for="vraag-4"
            >What do you need most right now?<input
              type="text"
              name="vraag-4"
              id="vraag-4"
              placeholder="Awnser here"
              required
            /></label
          >
          <fieldset>
            <legend
              >How do you feel about the near future (today / tomorrow)?</legend
            >
            <label for="Positive"
              >Positive<input
                type="radio"
                name="vraag-5"
                id="Positive"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="Neutral2"
              >Neutral<input
                type="radio"
                name="vraag-5"
                id="Neutral2"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="Negative"
              >Negative<input
                type="radio"
                name="vraag-5"
                id="Negative"
                placeholder="Awnser here"
                required
              /></label
            >
          </fieldset>
          <button>Opslaan</button>
        </form>
      </div>
      <div id="dailyQuote">
        <p id="begroeting"></p>
        <h1>{quotes[0].quote}</h1>
        <p>- {quotes[0].author} -</p>
        <button>Save quote</button>
      </div>
    </main>
    <script src="../javascript/script.js"></script>
  </body>
</html>
