---
const res = await fetch("https://api.api-ninjas.com/v2/quotes", {
  headers: {
    "x-api-key": import.meta.env.API_KEY,
  },
});
const quotes = await res.json();

console.log(quotes);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="styles/style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/style.css" />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div id="whats-your-name">
        <form class="form">
          <!-- https://claude.ai/share/c05c9d04-a1e4-4a1b-9296-a17b1b5868d4 -->
          <label for="name"
            >What is your name?<input
              type="text"
              name="name"
              id="name"
              placeholder="Name here"
              required
              pattern="^(?!.*\d)[a-zA-ZÀ-ÿ](?:[a-zA-ZÀ-ÿ ]{0,48}[a-zA-ZÀ-ÿ])?$"
            /></label
          >
          <button>Opslaan</button>
        </form>
        <form class="vraag-form">
          <!-- https://claude.ai/share/c05c9d04-a1e4-4a1b-9296-a17b1b5868d4 -->
          <label for="vraag-1"
            >How do you feel right now in one or two words?<input
              type="text"
              name="vraag-1"
              id="vraag-1"
              placeholder="Awnser here"
              required
            /></label
          >
          <label for="vraag-2"
            >How would you describe your current energy level?<input
              type="text"
              name="vraag-2"
              id="vraag-2"
              placeholder="Awnser here"
              required
              pattern="^(?!.*\d)[a-zA-ZÀ-ÿ](?:[a-zA-ZÀ-ÿ ]{0,48}[a-zA-ZÀ-ÿ])?$"
            /></label
          >
          <fieldset>
            <legend
              >Which of these emotions best matches your current mood?</legend
            >
            <label for="vraag-3-1"
              >Happy / content<input
                type="radio"
                name="vraag-3"
                id="vraag-3-1"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="vraag-3-2"
              >Stressed<input
                type="radio"
                name="vraag-3"
                id="vraag-3-2"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="vraag-3-3"
              >overwhelmed - Motivated<input
                type="radio"
                name="vraag-3"
                id="vraag-3-3"
                placeholder="Awnser here"
                required
              /></label
            ><label for="vraag-3-4"
              >hopeful - Indifferent<input
                type="radio"
                name="vraag-3"
                id="vraag-3-4"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="vraag-3-5"
              >numb<input
                type="radio"
                name="vraag-3"
                id="vraag-3-5"
                placeholder="Awnser here"
                required
              /></label
            >
          </fieldset>

          <label for="vraag-4"
            >What do you need most right now?<input
              type="text"
              name="vraag-4"
              id="vraag-4"
              placeholder="Awnser here"
              required
            /></label
          >
          <fieldset>
            <legend
              >How do you feel about the near future (today / tomorrow)?</legend
            >
            <label for="vraag-5-1"
              >Positive<input
                type="radio"
                name="vraag-5"
                id="vraag-5-1"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="vraag-5-2"
              >Neutral<input
                type="radio"
                name="vraag-5"
                id="vraag-5-2"
                placeholder="Awnser here"
                required
              /></label
            >
            <label for="vraag-5-3"
              >Negative<input
                type="radio"
                name="vraag-5"
                id="vraag-5-3"
                placeholder="Awnser here"
                required
              /></label
            >
          </fieldset>
          <button>Opslaan</button>
        </form>
      </div>
      <div class="daily-quote">
        <p>hoi</p>
        <h1>{quotes[0].quote}</h1>
        <p>- {quotes[0].author} -</p>
      </div>
    </main>

    <!-- -------------------------------------------------------------------------------------------------- -->

    <script>
      // Hier check ik of er al een naam staat door em op te vragen
      const savedName = localStorage.getItem("name");

      //  Hier selecteer ik het formulier
      const form = document.querySelector(".form");

      //   als er een naam is, verberg het formulier, anders laat het zien
      if (savedName) {
        form.style.display = "none";
      } else {
        form.style.display = "block";
      }

      //   als er een formulier is, voeg een event listener toe voor het submitten van het formulier
      if (form) {
        form.addEventListener("submit", formSubmit);
      }

      // Hier sla ik de naam op in localStorage en verberg het formulier
      function nameData() {
        const name = document.getElementById("name").value;

        localStorage.setItem("name", name);

        console.log("Data saved:", name);

        form.style.display = "none";
        questions.style.display = "block";
      }

      function formData(params) {}

      // Hier voorkom ik dat het formulier de pagina herlaadt bij het submitten en roep ik de saveData functie aan
      function formSubmit(event) {
        event.preventDefault();
        console.log("Form submitted");
        saveData();
      }
    </script>
  </body>
</html>
